/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* https://coolors.co */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap");
:root {
  --bg-color: #c9f0f8;
  --bg-secondary-color: #8fe1ef;
  --bg-masthead: #03045e;
  --color-primary: #00b3d6;
  --color-secondary: #0077b8;
  --color-tertiary: #19849f;
  --color-accent: #32cd32;
  --color-text: #1e1e20;
  --color-error: #ef253c;
  --color-success: #32cd32;
  --color-link: #0077b8;
  --color-link-hover: #00b3d6;
  --color-link-active: #32cd32;
  --color-link-visited: #0098eb;
  --color-middle-blue: #8fe1ef;
  --color-light-grey: #d9dcd6;
  --color-grey: #4b5b68;
  --color-dark-grey: #474a4d;
  --page-max-width: 80rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: var(--color-text);
  --font-color-inverted: #c9f0f8;
  --font-family-sans: system-ui, /* macOS 10.11-10.12 */ -apple-system,
  	"Helvetica Neue", Helvetica, /* Windows 6+ */ "Segoe UI",
  	/* Android 4+ */ "Roboto", /* Ubuntu 10.10+ */ "Ubuntu",
  	/* Gnome 3+ */ "Cantarell", /* KDE Plasma 5+ */ "Noto Sans",
  	/* fallback */ sans-serif, /* macOS emoji */ "Apple Color Emoji",
  	/* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol",
  	/* Linux emoji */ "Noto Color Emoji";
  --font-family-mono: ui-monospace, /* macOS 10.10+ */ "Menlo",
  	/* Windows 6+ */ "Consolas", /* Android 4+ */ "Roboto Mono",
  	/* Ubuntu 10.10+ */ "Ubuntu Monospace", /* KDE Plasma 5+ */ "Noto Mono",
  	/* KDE Plasma 4+ */ "Oxygen Mono",
  	/* Linux/OpenOffice fallback */ "Liberation Mono", /* fallback */ monospace,
  	/* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
  	/* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}

/* ==========================================================================
   NORMALIZE
   ========================================================================== */
html {
  box-sizing: border-box;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 300 1.3rem/1.2 "Work Sans", var(--font-family-sans);
  color: var(--font-color);
}

img {
  max-width: 100%;
}

fieldset {
  border: 1px solid var(--color-lightGrey);
}

iframe {
  border: 0;
}

dl dt {
  font-weight: bold;
}

hr {
  margin: 1rem 0;
  height: 1px;
  border: none;
  background-color: var(--color-lightGrey);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/* ==========================================================================
   FONTS
   ========================================================================== */
/* Work Sans */
/* ==========================================================================
   HEADINGS
   ========================================================================== */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

/* ==========================================================================
   LINKS
   ========================================================================== */
a {
  color: #0077b8;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 119, 184, 0);
  transition: color 200ms, border-bottom 200ms;
}
a:hover {
  color: #00b3d6;
  border-bottom: 1px solid #00b3d6;
}
a:visited {
  color: #0098eb;
}
a:active {
  color: #32cd32;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
footer li {
  display: inline;
}
footer a,
footer a:hover {
  border-bottom: none;
}

/* ==========================================================================
   FORMS
   ========================================================================== */
/**
 * Following is based on sanitize.css: https://unpkg.com/sanitize.css 
 *
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Add typography inheritance in all browsers (opinionated).
 */
:where(button, input, select, textarea) {
  background-color: transparent; /* 1 */
  border: 1px solid WindowFrame; /* 1 */
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  letter-spacing: inherit; /* 2 */
  padding: 0.25em 0.375em; /* 1 */
}

/**
   * Change the inconsistent appearance in all browsers (opinionated).
   */
:where(select) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center/1em;
  border-radius: 0;
  padding-right: 1em;
}

/**
   * Don't show the arrow for multiple choice selects
   */
:where(select[multiple]) {
  background-image: none;
}

/**
   * Remove the border and padding in all browsers (opinionated).
   */
:where([type=color i], [type=range i]) {
  border-width: 0;
  padding: 0;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */
.page-width-container {
  margin: 0 auto;
  width: 96%;
  max-width: var(--page-max-width);
  padding: 0 var(--grid-gutter);
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.skip-link {
  position: absolute;
  top: 0;
  right: 1rem;
  transform: translateY(-10rem);
  transition: transform 0.3s;
  padding: calc(var(--grid-gutter) * 0.5) var(--grid-gutter);
  background: var(--color-tertiary);
  color: var(--color-light-grey);
}
.skip-link:visited {
  color: var(--color-light-grey);
}
.skip-link:focus-within {
  transform: translateY(1rem);
}

/* Masthead
   ========================================================================== */
#masthead {
  background-color: var(--bg-masthead);
  color: var(--font-color-inverted);
}
#masthead > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#masthead nav {
  display: flex;
}
#masthead h1 {
  flex: 1;
  padding: 0 3rem 0 0;
}
#masthead ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  list-style-type: none;
}
#masthead li {
  flex-grow: 1;
  margin: 0 1rem;
}
#masthead a {
  color: #c9f0f8;
  text-decoration: none;
  border-bottom: none;
}
#masthead a:hover {
  color: #c5c3c6;
  border-bottom: none;
}
#masthead a:visited {
  color: #c9f0f8;
}
#masthead a:active {
  color: #c9f0f8;
}

/* Dictionary definition
   ========================================================================== */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
  margin-top: -20vh;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.35) 0%, rgba(11, 4, 81, 0.5) 100%), url(/images/hero/saudade-plana-cay.jpg) center center/cover;
}

.hero-definition {
  font-family: "Cormorant Garamond", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 300%;
  flex-shrink: 1;
  margin-bottom: 8vh;
  padding-left: 3em;
}
.hero-definition a {
  color: var(--color-text);
}
.hero-definition a:hover {
  border-bottom: 0;
}
.hero-definition ul {
  display: inline;
  padding: 0;
}
.hero-definition ul b {
  padding-left: 0.2em;
  font-size: 0.7em;
  font-family: var(--font-family-sans);
}
.hero-definition ul li {
  display: inline;
}
.hero-definition .ezh span {
  font-family: "Times New Roman", Times, serif;
}
.hero-definition .origin {
  font-size: 0.7em;
}
.hero-definition .origin::before, .hero-definition .origin::after {
  content: "[";
  font-family: var(--font-family-sans);
}
.hero-definition .origin::after {
  content: "]";
}
.hero-definition .part-of-speech {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
.hero-definition .part-of-speech[title] {
  text-decoration: none;
}
.hero-definition .see-also {
  font-size: 0.7em;
  line-height: 0.5em;
}
.hero-definition .see-also span {
  text-transform: uppercase;
  font-size: 0.8em;
}/*# sourceMappingURL=styles.css.map */