/* ==========================================================================
   ANIMATION
   ========================================================================== */

@media screen {
	.fly-in {
		//border: 10px solid red !important;
	}

	.image-panel-img-container img {
		filter: contrast(50%) saturate(10%) brightness(150%);

		#hero & {
			filter: none;
		}
	}

	.fly-in .image-panel-img-container img {
		filter: contrast(100%) saturate(100%) brightness(100%);
		transition: filter 3s ease-in-out;
	}
}
