/* Dictionary definition
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap');

#hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 60vh;
	margin-top: -20vh;
	background: radial-gradient(
			circle,
			rgba(255, 255, 255, 0.35) 0%,
			rgba(11, 4, 81, 0.5) 100%
		),
		url(/images/hero/saudade-plana-cay.jpg) center center/cover;
}
.hero-definition {
	font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times,
		'Times New Roman', serif;
	font-size: 300%;
	flex-shrink: 1;
	margin-bottom: 8vh;
	padding-left: 3em;

	a {
		color: var(--color-text);

		&:hover {
			border-bottom: 0;
		}
	}

	ul {
		// The definition itself
		display: inline;
		padding: 0;

		b {
			padding-left: 0.2em;
			font-size: 0.7em;
			font-family: var(--font-family-sans);
		}

		li {
			display: inline;
		}
	}

	.ezh {
		//The lowercase letter ezh, in pronounciation

		span {
			font-family: 'Times New Roman', Times, serif; // special character outside scope of custom webfonts
		}
	}

	.origin {
		//Portuguese
		font-size: 0.7em;

		&::before,
		&::after {
			content: '[';
			font-family: var(--font-family-sans);
		}

		&::after {
			content: ']';
		}
	}

	.part-of-speech {
		//Noun
		font-weight: bold;
		font-style: italic;
		text-decoration: none;

		&[title] {
			text-decoration: none;
		}
	}

	.see-also {
		font-size: 0.7em;
		line-height: 0.5em;

		span {
			text-transform: uppercase;
			font-size: 0.8em;
		}
		a {
		}
	}
}
