/* Dictionary definition
   ========================================================================== */

.hero-definition {
	font-size: xx-large;
	text-shadow: 0 0 6px #fff;
}
.part-of-speech {
	font-weight: bold;
	font-style: italic;
}
