/* ==========================================================================
   HERO SECTION
   ========================================================================== */

#hero {
	display: flex;
	background: rgb(225, 251, 251);
	background: linear-gradient(
		135deg,
		rgba(225, 251, 251, 1) 0%,
		rgba(255, 255, 255, 1) 29%
	);

	.logo {
		height: 5rem;
	}

	.hero-dictionary-definition {
		align-self: center;
		max-width: 50rem;
		padding: var(--grid-gutter) calc(var(--grid-gutter) * 2);
		padding-left: var(--grid-gutter);
		font-size: 3.2rem;
	}

	.hero-image-container {
		img {
			object-fit: cover;
			width: 100%;
		}
	}

	@media screen and (min-width: 700px) {
		.hero-dictionary-definition {
			dl {
				margin-top: 10vh;
			}
		}
		.hero-image-container {
			flex: 1;

			img {
				height: 100%;
			}
		}
	}
	@media screen and (max-width: 700px) {
		flex-direction: column;
	}
}

/* Dictionary definition
   ========================================================================== */
.hero-dictionary-definition {
	font-family: var(--font-family-serif);

	a {
		color: var(--color-text);
		text-decoration: none;

		&:hover {
			border-bottom: 0;
		}
	}

	ul {
		// The definition itself
		display: inline-block;
		margin: 0;
		padding: 0;

		b {
			padding-left: 0.4em;
			font-family: var(--font-family-sans);
			font-size: 0.7em;
		}

		li {
			display: inline;
		}
	}

	dd {
		@media (max-width: 500px) {
			margin: 0;
		}
	}

	.ezh {
		//The lowercase letter ezh, in pronounciation
		font-size: 0.7em;

		span {
			font-family: 'Times New Roman', Times, serif; // special character outside scope of custom webfonts
			font-size: 1.3em;
			vertical-align: -13%; // tweak character placement
		}
	}

	.origin {
		//Portuguese
		font-size: 0.7em;

		&::before,
		&::after {
			content: '[';
			font-family: var(--font-family-sans);
		}

		&::after {
			content: ']';
		}
	}

	.part-of-speech {
		//Noun
		font-weight: bold;
		font-style: italic;
		text-decoration: none;

		&[title] {
			text-decoration: none;
		}
	}

	.see-also {
		font-style: italic;
		font-size: 0.7em;

		a {
			text-transform: uppercase;
			font-style: normal;
			font-size: 0.8em;
		}
	}
}
