/* ==========================================================================
   HERO SECTION
   ========================================================================== */

#hero {
	margin-top: -30vh; // pulls hero under masthead
	padding-top: 50vh; // space for masthead
	background: radial-gradient(
			circle,
			rgba(255, 255, 255, 0.35) 0%,
			rgba(11, 4, 81, 0.5) 100%
		),
		url(/images/hero/saudade-plana-cay.jpg) center center/cover;

	// Small screens
	@media screen and (max-width: 575px) {
		margin-top: -35vh; // pulls hero under masthead
		background-position: bottom left;
		background-size: 160vw;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 450px) and (max-width: 575px) {
		// background-size: 130vw;
	}

	@media screen and (min-width: 300px) and (max-width: 450px) {
		background-size: cover;
	}
}

/* Dictionary definition
   ========================================================================== */
.hero-dictionary-definition {
	// flex-shrink: 1;
	padding: 0 20% 15vw 20%;
	font-family: var(--font-family-serif);
	font-size: 5vw; // Dynamic font size

	@media screen and (max-width: 575px) {
		padding: 0 10vw 20vw 10vw;
		font-size: 5vw; // Dynamic font size to a point
	}

	@media screen and (max-width: 300px) {
		font-size: 1.5rem; // Dynamic font size to a point
	}

	@media screen and (min-width: 300px) {
		font-size: 2.5rem;
		padding: 0 10% 4rem 10%;
	}

	a {
		color: var(--color-text);

		&:hover {
			border-bottom: 0;
		}
	}

	ul {
		// The definition itself
		display: inline;
		padding: 0;

		b {
			padding-left: 0.2em;
			font-size: 0.7em;
			font-family: var(--font-family-sans);
		}

		li {
			display: inline;
		}
	}

	dd {
		@media (max-width: 500px) {
			margin: 0;
		}
	}

	.ezh {
		//The lowercase letter ezh, in pronounciation
		font-size: 0.7em;

		span {
			font-family: 'Times New Roman', Times, serif; // special character outside scope of custom webfonts
			font-size: 1.3em;
			vertical-align: -13%; // tweak character placement
		}
	}

	.origin {
		//Portuguese
		font-size: 0.7em;

		&::before,
		&::after {
			content: '[';
			font-family: var(--font-family-sans);
		}

		&::after {
			content: ']';
		}
	}

	.part-of-speech {
		//Noun
		font-weight: bold;
		font-style: italic;
		text-decoration: none;

		&[title] {
			text-decoration: none;
		}
	}

	.see-also {
		font-size: 0.7em;
		line-height: 0.5em;

		span {
			text-transform: uppercase;
			font-size: 0.8em;
		}
	}
}
