/* ==========================================================================
   HERO SECTION
   ========================================================================== */

#hero {
	margin-top: 0; // Flush with top, unlike other sections
	background: rgb(225, 251, 251);
	background: linear-gradient(
		135deg,
		rgba(225, 251, 251, 1) 0%,
		rgba(255, 255, 255, 1) 29%
	);

	.logo {
		height: 7rem;
	}

	@include for-size(tablet-portrait-up) {
		.image-panel-content-container {
			align-self: flex-end;
		}

		.image-panel-img-container {
			height: 100vh; // Leave a bit so the user knows to scroll
		}
	}
}

#about-saudade {
	margin: 5rem 0;
}
