/* ==========================================================================
   LAYOUT
   ========================================================================== */

$content-max-width: 800px; // The reading content shall not exceed this value.
$padding-image-panel-content: 6rem;

body {
	position: relative; // for footer video positioning
}

// The sections of the page are direct childredn of main#content
#content > section {
	padding-bottom: 5rem; // flex margins don't collapse
	flex-direction: column;

	@include for-size(tablet-portrait-up) {
		flex-direction: row;
	}
}

// For portions (content sections) that shall not extend the full page width
// for readability; centered to its container
.inside {
	max-width: $content-max-width;
	margin: 0 auto 3rem;
	padding: $padding-image-panel-content;

	@include for-size(super-small) {
		padding: 0 calc($padding-image-panel-content / 3);
	}

	@media screen and (max-width: 480px) {
		padding: 0 calc($padding-image-panel-content / 2);
	}

	@include for-size(tablet-portrait-up) {
		padding: 4rem $padding-image-panel-content;
	}
}

/* Image panels
    panel with side-by-side columns with a hero-like image and blocks of text
	Measured by the image taking up third, two-third, or half, and left side or right side
   ========================================================================== */

.image-panel {
	@include for-size(tablet-portrait-up) {
		display: flex;
	}
}

// Content container has the text
.image-panel-content-container {
	@extend .inside;

	@include for-size(tablet-portrait-up) {
		max-width: none;
	}
}

// Image container has the large image
.image-panel-img-container {
	flex: 1;

	img {
		height: 100%;
		object-fit: cover;
	}

	@include for-size(tablet-portrait-up) {
		// Posiitioning of the panel images
		.image-left & {
			img {
				border-radius: 0 1rem 1rem 0;
			}
			order: -1; // use order to move the image to the left
		}

		.image-right & {
			img {
				border-radius: 1rem 0 0 1rem;
			}

			object-position: right;
		}
	}
}

@include for-size(tablet-portrait-up) {
	// Widths of the panel images/content
	.image-half {
		.image-panel-content-container {
			flex: 1;
		}

		.image-panel-img-container {
			flex: 1;
		}
	}

	// Third of the width for the image
	.image-third {
		.image-panel-content-container {
			flex: 2;
		}

		.image-panel-img-container {
			flex: 1;
		}
	}

	// Two thirds of the width for the image
	.image-two-thirds {
		.image-panel-content-container {
			flex: 1;
		}

		.image-panel-img-container {
			flex: 2;
		}
	}
}
