/* ==========================================================================
   LAYOUT
   ========================================================================== */

.container {
	margin: 0 auto;
	width: 96%;
	max-width: var(--page-maxWidth);
	padding: 0 calc(var(--grid-gutter) / 2);
}
