/* ==========================================================================
   LOCATION MAP AND MAPBOX
   ========================================================================== */
#location {
	hyphens: none; // hyphens do funny things to wx data
}
#map {
	width: 100%;
	height: 30vh;
	min-height: 25rem;
	margin: 0 auto 3rem;
	padding-top: 13vh;
	border: 1px solid var(--color-light-grey);
	border-radius: 2rem;
	text-align: center;
	color: var(--color-light-grey);

	// Tweak the attribution for readability
	.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
		background-color: rgb(255 255 255/10%);

		.mapboxgl-ctrl-attrib-inner {
			font-size: 0.9rem;
		}
	}
}

#lat-long {
	font-family: var(--font-mono-display);

	.location-address {
		font-size: 1.2rem;
	}

	.location-coordinates {
		span[class^='icon-'] {
			color: var(--color-icon-grey);
		}
	}
}

a.mapboxgl-ctrl-logo {
	// The mapbox logo
	@extend .link-no-underline;
}

.marker {
	width: 40px;
	height: 50px;
	margin-top: -21px;
	margin-left: 5px;
	background-image: url(/images/logo-pin.svg);
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0);
}

/* Weather widget
   ========================================================================== */
.weather-data {
	display: flex;
	font-size: 1.5rem;
	@extend .font-mono-display;

	[class^='icon-'] {
		width: 5.5rem;
		margin: 0.4rem 1.6rem 2rem -0.5rem; // tweak icon position
		font-size: 3rem;
		color: var(--color-primary);

		&:before {
			margin-top: -0.3rem; // tweak icon position
		}
		@media screen and (min-width: 550px) {
		}
	}

	p {
		margin-top: 1rem; // margin fix
	}
}

.observed-time {
	flex-basis: 100%;
	display: block;
	font-size: 1rem;
	color: var(--color-grey);
}
