/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.skip-link {
	// Skip navigation appears on focus
	position: absolute;
	top: 0;
	right: 1rem;
	transform: translateY(-10rem);
	transition: transform 0.3s;
	padding: calc(var(--grid-gutter) * 0.5) var(--grid-gutter);
	background: var(--color-tertiary);
	color: var(--color-light-grey);

	&:visited {
		color: var(--color-light-grey);
	}

	&:focus-within {
		transform: translateY(1rem);
	}
}

/* Masthead
   ========================================================================== */

#masthead {
	padding-top: 3rem;
	color: var(--font-color-inverted);

	& > div {
		// masthead contents container
		text-align: center;
	}

	.navigation-menu {
		list-style: none;
		padding: 0;

		li {
			margin: 0 1rem;
		}
	}

	.logo {
		//Logo
		background: url(/images/logo-manta-ray.svg) center no-repeat;

		a,
		a:visited,
		a:hover,
		a:active {
			display: block; // Fill up the h1
			height: 8rem;
			color: rgba(0, 0, 0, 0);
		}
	}

	@media screen and (min-width: 475px) and (max-width: 599px) {
		li {
			display: inline;
		}
	}

	@media screen and (min-width: 600px) {
		& > div {
			// masthead contents container
			display: flex;
			text-align: left;
		}

		.logo {
			flex-grow: 1;
			margin-right: 20px;
		}

		nav {
			display: flex;
		}

		.navigation-menu {
			display: flex;
			align-self: stretch;
			justify-content: space-between;

			li {
				margin: 1rem 0 1rem 2rem;
			}
		}
	}

	// Remove link treatments in navigation
	a {
		@include linkStyle($light-cyan, $silver, $light-cyan, $light-cyan, false);
	}
}
