/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.skip-link {
	// Skip navigation appears on focus
	position: absolute;
	top: 0;
	right: 1rem;
	transform: translateY(-10rem);
	transition: transform 0.3s;
	padding: calc(var(--grid-gutter) * 0.5) var(--grid-gutter);
	background: var(--color-tertiary);
	color: var(--color-light-grey);

	&:visited {
		color: var(--color-light-grey);
	}

	&:focus-within {
		transform: translateY(1rem);
	}
}

/* Masthead
   ========================================================================== */

#masthead {
	padding-top: 3rem;
	background-color: var(--bg-masthead);
	color: var(--font-color-inverted);

	& > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	nav {
		display: flex;
	}

	h1 {
		flex: 1;
		background: url(/images/logo-manta-ray.svg) center no-repeat;

		@media (min-width: 550px) {
			padding-right: 10rem; //prevent nav from getting to close to logo
		}

		a,
		a:visited,
		a:hover,
		a:active {
			display: block; // Fill up the h1
			height: 8rem;
			color: rgba(0, 0, 0, 0);
		}
	}

	ul {
		display: flex;
		align-content: center;
		padding: 0;
		text-align: center;
		list-style-type: none;
	}

	li {
		flex-grow: 1;
		margin: 0 1rem;
	}

	a {
		@include linkStyle($light-cyan, $silver, $light-cyan, $light-cyan, false);
	}
}
