/* ==========================================================================
   VARIABLES
   ========================================================================== */

$midnight-blue: #03045e;
$saudade-blue-dark: #003087;
$saudade-blue-light: #45c8ff;
$middle-blue: #8fe1ef;
$light-cyan: #c9f0f8;
$gainsboro: #d9dcd6;
$silver: #c5c3c6;
$metallic: darken(#dbd9ce, 10%);
$davys-grey: #474a4d;
$black-coral: #4b5b68;
$eerie-black: #1e1e20;
$blue-munsell: #19849f;
$imperial-red: #ef253c;
$lime-green: #32cd32;
/* https://coolors.co */

// Special variables so we can use opacity on link color transitions
$color-link: $saudade-blue-dark;
$color-link-hover: $saudade-blue-light;
$color-link-active: $lime-green;
$color-link-visited: lighten($color-link, 10%);

:root {
	// Backgrounds
	--bg-color: #{$gainsboro};
	--bg-secondary-color: #{$middle-blue};
	--bg-masthead: #{$midnight-blue};

	// Text colors
	--color-primary: #{$saudade-blue-light};
	--color-secondary: #{$saudade-blue-dark};
	--color-tertiary: #{$blue-munsell};
	--color-accent: #{$lime-green};
	--color-text: #{$davys-grey};
	--color-black: #{$eerie-black};
	--color-error: #{$imperial-red};
	--color-success: #{$lime-green};
	--color-link: #{$color-link};
	--color-link-hover: #{$color-link-hover};
	--color-link-active: #{$color-link-active};
	--color-link-visited: #{$color-link-visited};

	--color-middle-blue: #{$middle-blue};
	--color-light-grey: #{$gainsboro};
	--color-icon-grey: #{$metallic};
	--color-dark-grey: #{$black-coral};
	--color-light-cyan: #{$light-cyan};
	--color-grey: grey;

	// Layout
	--page-max-width: 80rem;
	--grid-gutter: 4rem;

	// Typography
	--font-size: 1.6rem;
	--font-color: var(--color-text);
	--font-color-inverted: #{$light-cyan};
	--font-sans: 'zurich-custom', system-ui, /* macOS 10.11-10.12 */ -apple-system,
		'Helvetica Neue', Helvetica, /* Windows 6+ */ 'Segoe UI',
		/* Android 4+ */ 'Roboto', /* Ubuntu 10.10+ */ 'Ubuntu',
		/* Gnome 3+ */ 'Cantarell', /* KDE Plasma 5+ */ 'Noto Sans',
		/* fallback */ sans-serif, /* macOS emoji */ 'Apple Color Emoji',
		/* Windows emoji */ 'Segoe UI Emoji', /* Windows emoji */ 'Segoe UI Symbol',
		/* Linux emoji */ 'Noto Color Emoji';
	--font-mono: ui-monospace, /* macOS 10.10+ */ 'Menlo',
		/* Windows 6+ */ 'Consolas', /* Android 4+ */ 'Roboto Mono',
		/* Ubuntu 10.10+ */ 'Ubuntu Monospace', /* KDE Plasma 5+ */ 'Noto Mono',
		/* KDE Plasma 4+ */ 'Oxygen Mono',
		/* Linux/OpenOffice fallback */ 'Liberation Mono', /* fallback */ monospace,
		/* macOS emoji */ 'Apple Color Emoji', /* Windows emoji */ 'Segoe UI Emoji',
		/* Windows emoji */ 'Segoe UI Symbol', /* Linux emoji */ 'Noto Color Emoji';
	--font-serif: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times,
		'Times New Roman', serif; /* Mostly for dictionary definition */
	--font-mono-display: 'IBM Plex Mono', monospace;
	--font-icon: 'fontello', monospace;
}

/* ==========================================================================
   MIXINS
   ========================================================================== */

/* Screen Sizes
    ========================================================================== */

@mixin for-size($size) {
	@if $size == phone {
		@media screen and (max-width: 699px) {
			@content;
		}
	} @else if $size == tablet-portrait-up {
		@media screen and (min-width: 799px) {
			@content;
		}
	} @else if $size == tablet-landscape-up {
		@media screen and (min-width: 900px) {
			@content;
		}
	} @else if $size == desktop-up {
		@media screen and (min-width: 1200px) {
			@content;
		}
	} @else if $size == big-desktop-up {
		@media screen and (min-width: 1800px) {
			@content;
		}
	} @else {
		@media screen and (min-width: $size) {
			@content;
		}
	}
}
