/* ==========================================================================
   VARIABLES
   ========================================================================== */

$midnight-blue: #03045e;
$star-command-blue: #0077b8;
$pacific-blue: #00b3d6;
$middle-blue: #8fe1ef;
$light-cyan: #c9f0f8;
$gainsboro: #d9dcd6;
$silver: #c5c3c6;
$davys-grey: #474a4d;
$black-coral: #4b5b68;
$eerie-black: #1e1e20;
$blue-munsell: #19849f;
$imperial-red: #ef253c;
$lime-green: #32cd32;
/* https://coolors.co */

// Special variables so we can use opacity on link color transitions
$color-link: $star-command-blue;
$color-link-hover: $pacific-blue;
$color-link-active: $lime-green;
$color-link-visited: lighten($color-link, 10%);

:root {
	// Backgrounds
	--bg-color: #{$light-cyan};
	--bg-secondary-color: #{$middle-blue};
	--bg-masthead: #{$midnight-blue};

	// Text colors
	--color-primary: #{$pacific-blue};
	--color-secondary: #{$star-command-blue};
	--color-tertiary: #{$blue-munsell};
	--color-accent: #{$lime-green};
	--color-text: #{$eerie-black};
	--color-error: #{$imperial-red};
	--color-success: #{$lime-green};
	--color-link: #{$color-link};
	--color-link-hover: #{$color-link-hover};
	--color-link-active: #{$color-link-active};
	--color-link-visited: #{$color-link-visited};

	--color-middle-blue: #{$middle-blue};
	--color-light-grey: #{$gainsboro};
	--color-grey: #{$black-coral};
	--color-dark-grey: #{$davys-grey};

	// Layout
	--page-maxWidth: 80rem;
	--grid-gutter: 2rem;

	// Typography
	--font-size: 1.6rem;
	--font-color: var(--color-text);
	--font-color-inverted: #{$light-cyan};
	--font-family-sans: system-ui, /* macOS 10.11-10.12 */ -apple-system,
		'Helvetica Neue', Helvetica, /* Windows 6+ */ 'Segoe UI',
		/* Android 4+ */ 'Roboto', /* Ubuntu 10.10+ */ 'Ubuntu',
		/* Gnome 3+ */ 'Cantarell', /* KDE Plasma 5+ */ 'Noto Sans',
		/* fallback */ sans-serif, /* macOS emoji */ 'Apple Color Emoji',
		/* Windows emoji */ 'Segoe UI Emoji', /* Windows emoji */ 'Segoe UI Symbol',
		/* Linux emoji */ 'Noto Color Emoji';
	--font-family-mono: ui-monospace, /* macOS 10.10+ */ 'Menlo',
		/* Windows 6+ */ 'Consolas', /* Android 4+ */ 'Roboto Mono',
		/* Ubuntu 10.10+ */ 'Ubuntu Monospace', /* KDE Plasma 5+ */ 'Noto Mono',
		/* KDE Plasma 4+ */ 'Oxygen Mono',
		/* Linux/OpenOffice fallback */ 'Liberation Mono', /* fallback */ monospace,
		/* macOS emoji */ 'Apple Color Emoji', /* Windows emoji */ 'Segoe UI Emoji',
		/* Windows emoji */ 'Segoe UI Symbol', /* Linux emoji */ 'Noto Color Emoji';
}
