/* 
 

   Styles here are vanilla CSS (and preprocessed with Sass). #frameworkfree
   ==========================================================================
   
   Enjoy.
   
 
*/

@import 'vars';
@import 'base';
@import 'forms';
@import 'layout';
@import 'navigation';
@import 'hero';
@import 'dictionary';
@import 'map';

#masthead {
	display: none;
}

// For test page
.card {
	margin: 2rem;
	padding: 2rem;
	background-color: var(--bg-color);
	border-left: 1rem solid var(--color-grey);
	border-radius: 1rem;
}

#test-colors {
	li span {
		display: block;
		width: 5rem;
		border-radius: 10px;
	}
}
