
.icon-github:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-map:before { content: '\e803'; } /* '' */
.icon-sails:before { content: '\e805'; } /* '' */
.icon-propeller:before { content: '\e806'; } /* '' */
.icon-resume-cv:before { content: '\e807'; } /* '' */
.icon-flash:before { content: '\e808'; } /* '' */
.icon-paddleboard:before { content: '\e809'; } /* '' */
.icon-anchor:before { content: '\e80a'; } /* '' */
.icon-warning:before { content: '\e80b'; } /* '' */
.icon-scuba-tank:before { content: '\e80c'; } /* '' */
.icon-generator:before { content: '\e80d'; } /* '' */
.icon-solar:before { content: '\e80e'; } /* '' */
.icon-play-video:before { content: '\e80f'; } /* '' */
.icon-stop-video:before { content: '\e810'; } /* '' */
.icon-pause:before { content: '\e811'; } /* '' */
.icon-lifebuoy:before { content: '\e812'; } /* '' */
.icon-battery:before { content: '\e813'; } /* '' */
.icon-catamaran:before { content: '\e814'; } /* '' */
.icon-cocktail-1:before { content: '\e815'; } /* '' */
.icon-clouds-flash:before { content: '\e816'; } /* '' */
.icon-cloud-sun:before { content: '\e817'; } /* '' */
.icon-sunrise:before { content: '\e818'; } /* '' */
.icon-cloud-moon:before { content: '\e81b'; } /* '' */
.icon-cloud:before { content: '\e81d'; } /* '' */
.icon-fog-cloud:before { content: '\e81e'; } /* '' */
.icon-fog:before { content: '\e81f'; } /* '' */
.icon-cloud-1:before { content: '\e822'; } /* '' */
.icon-tender:before { content: '\e823'; } /* '' */
.icon-wrench:before { content: '\e824'; } /* '' */
.icon-cloud-flash:before { content: '\e825'; } /* '' */
.icon-drizzle:before { content: '\e826'; } /* '' */
.icon-rain-inv:before { content: '\e827'; } /* '' */
.icon-mist:before { content: '\e828'; } /* '' */
.icon-snow-heavy:before { content: '\e829'; } /* '' */
.icon-clouds:before { content: '\e82a'; } /* '' */
.icon-sunset:before { content: '\e82b'; } /* '' */
.icon-globe:before { content: '\f019'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-top:before { content: '\f0aa'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-snow:before { content: '\f2dc'; } /* '' */
.icon-facebook:before { content: '\f301'; } /* '' */
.icon-linkedin:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
